*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
    width: 100px;
    margin: 30px;
}
.div0{
    display: flex;
    align-items: center;
    color: white;
    

} 

.div1 a{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: bold;
    
}   
.div1 a:hover{
    text-decoration: underline;
    font-size: 19px;
    color: cornflowerblue;
}
.divItap2{

    display: flex;
    margin: 15px;
    
    
}
.divItap2 a{
    margin-right:  20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    
}

.divItap2 span{
    margin-right: 15px;
    font-size: 20px;
}
.divItap2 a:hover{
    text-decoration: underline;
    font-size: 22px;
    color: cornflowerblue;
}
.divItap3 h2{
    margin-left: 10px;
}
.divItap3 p{
    margin-left: 20px;
    margin-top: 15px;
}
.uList{
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    gap: 20px;
    
}
.uList ul{
    list-style-type: none;
    border: rgb(27, 27, 27) 1px solid;
    display: flex;
    align-items: center;
    line-height: 40px;

}
.uList ul li{
    margin: 10px;
}
.uList ul:hover{
    transition: transform 0.5s;
    transform: scale(102%);
}
.uList ul li img{
    width: 200px;
    height: 120px;
    
}
.div{
    margin:9;
    padding
}

.ul_p{
    color: rgb(121, 129, 130);
}
.ul_p3{
    color: rgb(40, 153, 59);
}

@media (max-width: 500px) {
    .div0{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px;

    }  
    .div1 a{
        display: block;
        margin: 15px 0;
        text-align: center;
    }
    .logo{
         
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 30%;
    }   
    .divItap2 a{
        font-size: 16px;
        margin-right: 6px;

    }
     .divItap2 a:hover{
        font-size: 18px;
     }
    .uList ul {
    display: flex;
    flex-wrap: center;
    margin: 0 auto;
    
}


}